.poll-box
  background: #FFFFFF
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
  border-radius: 20px
  width: 270px
  height: 200px
  position: fixed
  bottom: 10%
  right: 5%
  text-align: center
  display: grid
  place-items: center
  z-index: 10000
  transition-timing-function: ease-out
  transition: .3s

  .bubble
    background: #EE9207
    border-radius: 50%
    height: 60px
    width: 60px
    display: grid
    place-items: center
    color: white
    font-size: 40px
    position: absolute
    top: -30px
  .bubble-green
    background: #ABC812
    border-radius: 50%
    height: 60px
    width: 60px
    display: grid
    place-items: center
    color: white
    font-size: 40px
    position: absolute
    top: -30px
  .headline
    font-weight: 600
    font-size: 20px
    line-height: 24px
    &.big
      font-size: 28px
    
  .footer
    background: #EE9207
    color: white
    text-transform: uppercase
    position: absolute
    bottom: 0
    width: 100%
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    padding: 10px
    cursor: pointer
    &.inactive
      opacity: 0.5
      cursor: not-allowed