.general-font-size
  font-size: 1.3rem
  font-weight: 400
  @media (min-width: 768px)
    font-size: 2rem
  
.general-font-size-title
  font-size: 2rem
  font-weight: 500
  @media (min-width: 768px)
    font-size: 2rem

.general-font-size-subtitle
  font-size: 1.5rem
  font-weight: 400
  @media (min-width: 768px)
    font-size: 1.5rem

.text-wrap
  align-content: center
  text-align: center
  display: inline-block

.break-title
  word-break: break-word
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 1
  line-clamp: 1
  -webkit-box-orient: vertical
